<!-- By including header and footer in all ejs files I have same styles accorss the website -->
<!-- and I don't have to copy-paste codes -->
<!-- And this is called layouts in ejs. (very useful) -->

<%- include("header") -%>

<p>
  This website is made by <strong><em>Gagan Saini.</em></strong>
</p>
<p>This project is maintain during ejs module.</p>

<%- include("footer") -%>
